i:hover {
  background-color: rgb(156, 247, 96);
  transform: scale(1.5);
}

.lp:hover {
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transform: scale(1.2);
  }

  iframe:hover{
    transform: scale(1.1);
  }