i:hover {
  background-color: rgb(156, 247, 96);
  transform: scale(1.3);
}

.lp:hover {
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transform: scale(1.05);
  transform-style: preserve-3d;
}

iframe{
  border-radius: 50px;
}

iframe:hover {
  transform: scale(1.05);
  background-color: rgb(104, 236, 92);
 
  
}

.card11 {
  border-radius: 50px;
 

  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}
