.lpcentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 80vw;
  height: 45vh;



  border:8px solid rgb(248, 208, 208) ;
  border-style: outset;

}

.lpg {
  background-image: url(../Images/Weather-Blog-Image.jpg);
}
