.lpcentered {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -40%);
  width: 90vw;
  height: 55vh;

  border: 10px solid rgb(236, 227, 227);
  border-style: outset;
}

.lpg {
  background-image: url(../Images/Weather-Blog-Image.jpg);
}
